In [25]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\luana\appdata\local\programs\python\python312\lib\site-packages (8.2.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\luana\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python) (4.21.12)

In [26]:
import mysql.connector
from random import choice, randint

In [27]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '741852',
    'database': 'projeto_embraer'
    }

In [ ]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

zerar_contraints = """
    SET foreign_key_checks = 0
"""

drop_tables = """
    DROP TABLE pedido_consulta;
    DROP TABLE consulta_tecnica;
    DROP TABLE categoria;
    DROP TABLE tempo_resposta;
    DROP TABLE cliente;
    DROP TABLE nps;
    DROP TABLE pedido_produto;
    DROP TABLE produto;
    DROP TABLE pedido;
    DROP TABLE tempo_entrega;
    DROP TABLE satisfacao_cliente;
"""

cursor.execute(drop_tables)
    
conn.commit()

In [ ]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()


drop_tables2 = """
    SET foreign_key_checks = 0;
    DROP TABLE cliente;
    DROP TABLE nps;
    DROP TABLE pedido_produto;
    DROP TABLE produto;
    DROP TABLE pedido;
    DROP TABLE tempo_entrega;
    DROP TABLE satisfacao_cliente;
    SET foreign_key_checks = 1;
"""

cursor.execute(drop_tables2)
    
conn.commit()

In [35]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS nps (
        nps_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        nps_pontuacao INT NOT NULL,
        nps_data DATE NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [36]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS cliente (
        cliente_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        cliente_nome VARCHAR(100) NOT NULL,
        cliente_pais VARCHAR(50) NOT NULL,
        cliente_email VARCHAR(100) NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [37]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS nps_cliente (
        nps_cliente_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        cliente_id INT NOT NULL,
        nps_id INT NOT NULL,
        FOREIGN KEY (cliente_id) REFERENCES cliente (cliente_id),
        FOREIGN KEY (nps_id) REFERENCES nps (nps_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [38]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS tempo_entrega (
        tempo_entrega_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        tempo_entrega INT NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [39]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS satisfacao_cliente (
        satisfacao_cliente_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        satisfacao_cliente_avaliacao VARCHAR(30) NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [40]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS pedido (
        pedido_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        pedido_tempo_estimado INT NOT NULL,
        cliente_id INT NOT NULL,
        satisfacao_cliente_id INT,
        tempo_entrega_id INT,
        FOREIGN KEY (cliente_id) REFERENCES cliente (cliente_id),
        FOREIGN KEY (satisfacao_cliente_id) REFERENCES satisfacao_cliente (satisfacao_cliente_id),
        FOREIGN KEY (tempo_entrega_id) REFERENCES tempo_entrega (tempo_entrega_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [41]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS produto (
        produto_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        produto VARCHAR(100) NOT NULL,
        tipo_carga VARCHAR(50) NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [42]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS pedido_produto(
        pedido_produto_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        pedido_id INT NOT NULL,
        produto_id INT NOT NULL,
        FOREIGN KEY (pedido_id) REFERENCES pedido (pedido_id),
        FOREIGN KEY (produto_id) REFERENCES produto (produto_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [43]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS tempo_resposta(
        tempo_resposta_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        tempo_resposta INT NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [44]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS categoria(
        categoria_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        categoria VARCHAR(100) NOT NULL
    );
"""
cursor.execute(create_table_query)
conn.commit()

In [45]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS consulta_tecnica(
        consulta_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        tempo_resposta_id INT NOT NULL,
        categoria_id INT NOT NULL,
        FOREIGN KEY (tempo_resposta_id) REFERENCES tempo_resposta (tempo_resposta_id),
        FOREIGN KEY (categoria_id) REFERENCES categoria (categoria_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [46]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS pedido_consulta(
        pedido_consulta_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        pedido_id INT NOT NULL,
        consulta_id INT NOT NULL,
        FOREIGN KEY (pedido_id) REFERENCES pedido (pedido_id),
        FOREIGN KEY (consulta_id) REFERENCES consulta_tecnica (consulta_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()