In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ozerio\appdata\local\programs\python\python312\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\ozerio\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector
from random import choice, randint

In [3]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'projeto_embraer'
    }

In [4]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

insert_query = """INSERT INTO produto (produto_id, produto, tipo_carga)
values 
	(null, "ERJ 145", "Transporte de Passageiros"),
    (null, "ERJ 145XR", "Transporte de Passageiros"),
    (null, "E170", "Transporte de Passageiros"),
    (null, "E175", "Transporte de Passageiros"),
    (null, "E190", "Transporte de Passageiros"),
    (null, "E195", "Transporte de Passageiros"),
    (null, "KC-390 Millennium", "Transporte de Carga"),
    (null, "E190-E2", "Transporte de Passageiros"),
    (null, "E195-E2", "Transporte de Passageiros")
    """
    
cursor.execute(insert_query)
conn.commit()

In [8]:
insert_query = """INSERT INTO nps (nps_id, nps_pontuacao, nps_data)
values 
	(null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18')
    """
    
cursor.execute(insert_query)
conn.commit()

In [7]:
insert_query = """INSERT INTO categoria (categoria_id, categoria)
values 
	(null, "Manutenção preventiva"),
    (null, "Atualizações e modificações"),
    (null, "Treinamento técnico"),
    (null, "Especificação técnica de peça de reposição"),
    (null, "Problemas relacionados à documentação")
    """
    
cursor.execute(insert_query)
conn.commit()

In [9]:
insert_query = """INSERT INTO tempo_resposta (tempo_resposta_id, tempo_resposta)
values 
	(null, 3),
    (null, 4),
    (null, 5)
    """
    
cursor.execute(insert_query)
conn.commit()

In [10]:
insert_query = """INSERT INTO satisfacao_cliente (satisfacao_cliente_id, satisfacao_cliente_avaliacao)
values 
	(null, "Muito insatisfeito"),
    (null, "Insatisfeito"),
    (null, "Neutro"),
    (null, "Satisfeito"),
    (null, "Muito satisfeito")
    """
    
cursor.execute(insert_query)
conn.commit()

In [11]:
insert_query = """INSERT INTO tempo_entrega (tempo_entrega_id, tempo_entrega)
values 
	(null, 6),
    (null, 7),
    (null, 8),
    (null, 9),
    (null, 10),
    (null, 11),
    (null, 12),
    (null, 13),
    (null, 14),
    (null, 15),
    (null, 16),
    (null, 17),
    (null, 18)
    """
    
cursor.execute(insert_query)
conn.commit()