In [18]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\luana\appdata\local\programs\python\python312\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\luana\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
import mysql.connector
from random import choice, randint

In [6]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'projeto_embraer'
    }

In [26]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

insert_query = """INSERT INTO produto (produto_id, produto, tipo_carga)
values 
	(null, "ERJ 145", "Transporte de Passageiros"),
    (null, "ERJ 145XR", "Transporte de Passageiros"),
    (null, "E170", "Transporte de Passageiros"),
    (null, "E175", "Transporte de Passageiros"),
    (null, "E190", "Transporte de Passageiros"),
    (null, "E195", "Transporte de Passageiros"),
    (null, "E190-E2", "Transporte de Passageiros"),
    (null, "E195-E2", "Transporte de Passageiros"),
    (null, "KC-390 Millennium", "Transporte de Carga")
    """
    
cursor.execute(insert_query)
conn.commit()

In [25]:
insert_query = """INSERT INTO nps (nps_id, nps_pontuacao, nps_data)
values 
	(null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-03-28'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-06-27'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-09-26'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2022-12-19'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-03-27'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-06-26'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-09-25'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18'),
    (null, FLOOR(RAND() * 11), '2023-12-18')
    """
    
cursor.execute(insert_query)
conn.commit()

In [7]:
insert_query = """INSERT INTO categoria (categoria_id, categoria)
values 
	(null, "Manutenção preventiva"),
    (null, "Atualizações e modificações"),
    (null, "Treinamento técnico"),
    (null, "Especificação técnica de peça de reposição"),
    (null, "Problemas relacionados à documentação")
    """
    
cursor.execute(insert_query)
conn.commit()

In [9]:
insert_query = """INSERT INTO tempo_resposta (tempo_resposta_id, tempo_resposta)
values 
	(null, 3),
    (null, 4),
    (null, 5)
    """
    
cursor.execute(insert_query)
conn.commit()

In [10]:
insert_query = """INSERT INTO satisfacao_cliente (satisfacao_cliente_id, satisfacao_cliente_avaliacao)
values 
	(null, "Muito insatisfeito"),
    (null, "Insatisfeito"),
    (null, "Neutro"),
    (null, "Satisfeito"),
    (null, "Muito satisfeito")
    """
    
cursor.execute(insert_query)
conn.commit()

In [11]:
insert_query = """INSERT INTO tempo_entrega (tempo_entrega_id, tempo_entrega)
values 
	(null, 6),
    (null, 7),
    (null, 8),
    (null, 9),
    (null, 10),
    (null, 11),
    (null, 12),
    (null, 13),
    (null, 14),
    (null, 15),
    (null, 16),
    (null, 17),
    (null, 18)
    """
    
cursor.execute(insert_query)
conn.commit()

In [7]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

insert_query = """INSERT INTO cliente (cliente_id, cliente_nome, cliente_pais, cliente_email)
values 
	(null, 'Jetblue', 'Estados Unidos da América', 'jetblue@mail.com'),
    (null, 'Azul', 'Brasil', 'azul@mail.com'),
    (null, 'BOC Aviation', 'Singapura', 'boc_aviation@mail.com'),
    (null, 'Kenya Airways', 'Quênia', 'kenya_airways@mail.com'),
    (null, 'GE Capital Aviation', 'Estados Unidos da América', 'ge_capital_aviation@mail.com'),
    (null, 'Lufthansa', 'Alemanha', 'lugthansa@mail.com'),
    (null, 'Virgin Nigeria', 'Nigéria', 'virgin_nigeria@mail.com'),
    (null, 'China Southern', 'China', 'china_southern@mail.com'),
    (null, 'Força Aérea Brasileira', 'Brasil', 'fab@mail.com'),
    (null, 'Força Aérea de Portugal', 'Portugal', 'fa_portugal@mail.com')
    """
    
cursor.execute(insert_query)
conn.commit()

In [11]:
insert_query = """INSERT INTO nps_cliente (nps_cliente_id, cliente_id, nps_id)
values 
	(null, 1 , 1),
	(null, 1 , 11),
	(null, 1 , 21),
	(null, 1 , 31),
	(null, 1 , 41),
	(null, 1 , 51),
	(null, 1 , 61),
	(null, 1 , 71),
	(null, 2 , 2),
	(null, 2 , 12),
	(null, 2 , 22),
	(null, 2 , 32),
	(null, 2 , 42),
	(null, 2 , 52),
	(null, 2 , 62),
	(null, 2 , 72),
	(null, 3 , 3),
	(null, 3 , 13),
	(null, 3 , 23),
	(null, 3 , 33),
	(null, 3 , 43),
	(null, 3 , 53),
	(null, 3 , 63),
	(null, 3 , 73),
	(null, 4 , 4),
	(null, 4 , 14),
	(null, 4 , 24),
	(null, 4 , 34),
	(null, 4 , 44),
	(null, 4 , 54),
	(null, 4 , 64),
	(null, 4 , 74),
	(null, 5 , 5),
	(null, 5 , 15),
	(null, 5 , 25),
	(null, 5 , 35),
	(null, 5 , 45),
	(null, 5 , 55),
	(null, 5 , 65),
	(null, 5 , 75),
	(null, 6 , 6),
	(null, 6 , 16),
	(null, 6 , 26),
	(null, 6 , 36),
	(null, 6 , 46),
	(null, 6 , 56),
	(null, 6 , 66),
	(null, 6 , 76),
	(null, 7 , 7),
	(null, 7 , 17),
	(null, 7 , 27),
	(null, 7 , 37),
	(null, 7 , 47),
	(null, 7 , 57),
	(null, 7 , 67),
	(null, 7 , 77),
	(null, 8 , 8),
	(null, 8 , 18),
	(null, 8 , 28),
	(null, 8 , 38),
	(null, 8 , 48),
	(null, 8 , 58),
	(null, 8 , 68),
	(null, 8 , 78),
	(null, 9 , 9),
	(null, 9 , 19),
	(null, 9 , 29),
	(null, 9 , 39),
	(null, 9 , 49),
	(null, 9 , 59),
	(null, 9 , 69),
	(null, 9 , 79),
	(null, 10 , 10),
	(null, 10 , 20),
	(null, 10 , 30),
	(null, 10 , 40),
	(null, 10 , 50),
	(null, 10 , 60),
	(null, 10 , 70),
	(null, 10 , 80)
    """
    
cursor.execute(insert_query)
conn.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`projeto_embraer`.`nps_cliente`, CONSTRAINT `nps_cliente_ibfk_2` FOREIGN KEY (`nps_id`) REFERENCES `nps` (`nps_id`))

In [13]:
for _ in range(250):
    tempo_resposta = randint(1, 3)
    categoria = randint(1, 5)
    
    insert_query = "INSERT INTO consulta_tecnica (tempo_resposta_id,categoria_id) VALUES (%s, %s)"
    
    data = (tempo_resposta, categoria)
    cursor.execute(insert_query, data)
    
conn.commit()

cursor.close()
conn.close()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`projeto_embraer`.`consulta_tecnica`, CONSTRAINT `consulta_tecnica_ibfk_1` FOREIGN KEY (`tempo_resposta_id`) REFERENCES `tempo_resposta` (`tempo_resposta_id`))

In [15]:
for _ in range(200):
    tempo_estimado = randint(6, 18)
    cliente_id = randint(1, 10)
    satisfacao_id = randint(1, 5)
    tempo_entrega_id = randint(1, 13)
    
    insert_query = "INSERT INTO pedido(pedido_tempo_estimado, cliente_id, satisfacao_cliente_id, tempo_entrega_id) VALUES (%s, %s, %s, %s)"
    
    data = (tempo_estimado, cliente_id, satisfacao_id, tempo_entrega_id)
    cursor.execute(insert_query, data)
    
conn.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`projeto_embraer`.`pedido`, CONSTRAINT `pedido_ibfk_2` FOREIGN KEY (`satisfacao_cliente_id`) REFERENCES `satisfacao_cliente` (`satisfacao_cliente_id`))

In [17]:
for _ in range(250):
    pedido_id = randint(1, 200)
    consulta_id = randint(1, 250)
    
    insert_query = "INSERT INTO pedido_consulta(pedido_id, consulta_id) VALUES (%s, %s)"
    
    data = (pedido_id, consulta_id)
    cursor.execute(insert_query, data)
    
conn.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`projeto_embraer`.`pedido_consulta`, CONSTRAINT `pedido_consulta_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedido` (`pedido_id`))

In [ ]:
insert_query = """INSERT INTO pedido_produto (pedido_produto_id, pedido_id, produto_id)
VALUES 
(null, 1, FLOOR(RAND() * 8) + 1),
(null, 2, 9),
(null, 3, FLOOR(RAND() * 8) + 1),
(null, 4, 9),
(null, 5, FLOOR(RAND() * 8) + 1),
(null, 6, 9),
(null, 7, 9),
(null, 8, FLOOR(RAND() * 8) + 1),
(null, 9, FLOOR(RAND() * 8) + 1),
(null, 10, 9),
(null, 11, FLOOR(RAND() * 8) + 1),
(null, 12, FLOOR(RAND() * 8) + 1),
(null, 13, FLOOR(RAND() * 8) + 1),
(null, 14, FLOOR(RAND() * 8) + 1),
(null, 15, FLOOR(RAND() * 8) + 1),
(null, 16, FLOOR(RAND() * 8) + 1),
(null, 17, 9),
(null, 18, FLOOR(RAND() * 8) + 1),
(null, 19, FLOOR(RAND() * 8) + 1),
(null, 20, FLOOR(RAND() * 8) + 1),
(null, 21, FLOOR(RAND() * 8) + 1),
(null, 22, 9),
(null, 23, FLOOR(RAND() * 8) + 1),
(null, 24, FLOOR(RAND() * 8) + 1),
(null, 25, 9),
(null, 26, FLOOR(RAND() * 8) + 1),
(null, 27, 9),
(null, 28, 9),
(null, 29, FLOOR(RAND() * 8) + 1),
(null, 30, FLOOR(RAND() * 8) + 1),
(null, 31, FLOOR(RAND() * 8) + 1),
(null, 32, FLOOR(RAND() * 8) + 1),
(null, 33, FLOOR(RAND() * 8) + 1),
(null, 34, FLOOR(RAND() * 8) + 1),
(null, 35, FLOOR(RAND() * 8) + 1),
(null, 36, FLOOR(RAND() * 8) + 1),
(null, 37, FLOOR(RAND() * 8) + 1),
(null, 38, FLOOR(RAND() * 8) + 1),
(null, 39, FLOOR(RAND() * 8) + 1),
(null, 40, FLOOR(RAND() * 8) + 1),
(null, 41, 9),
(null, 42, FLOOR(RAND() * 8) + 1),
(null, 43, FLOOR(RAND() * 8) + 1),
(null, 44, FLOOR(RAND() * 8) + 1),
(null, 45, FLOOR(RAND() * 8) + 1),
(null, 46, FLOOR(RAND() * 8) + 1),
(null, 47, FLOOR(RAND() * 8) + 1),
(null, 48, 9),
(null, 49, 9),
(null, 50, FLOOR(RAND() * 8) + 1),
(null, 51, 9),
(null, 52, FLOOR(RAND() * 8) + 1),
(null, 53, FLOOR(RAND() * 8) + 1),
(null, 54, FLOOR(RAND() * 8) + 1),
(null, 55, FLOOR(RAND() * 8) + 1),
(null, 56, FLOOR(RAND() * 8) + 1),
(null, 57, FLOOR(RAND() * 8) + 1),
(null, 58, FLOOR(RAND() * 8) + 1),
(null, 59, FLOOR(RAND() * 8) + 1),
(null, 60, FLOOR(RAND() * 8) + 1),
(null, 61, FLOOR(RAND() * 8) + 1),
(null, 62, 9),
(null, 63, FLOOR(RAND() * 8) + 1),
(null, 64, FLOOR(RAND() * 8) + 1),
(null, 65, FLOOR(RAND() * 8) + 1),
(null, 66, FLOOR(RAND() * 8) + 1),
(null, 67, 9),
(null, 68, FLOOR(RAND() * 8) + 1),
(null, 69, FLOOR(RAND() * 8) + 1),
(null, 70, FLOOR(RAND() * 8) + 1),
(null, 71, FLOOR(RAND() * 8) + 1),
(null, 72, FLOOR(RAND() * 8) + 1),
(null, 73, 9),
(null, 74, FLOOR(RAND() * 8) + 1),
(null, 75, FLOOR(RAND() * 8) + 1),
(null, 76, FLOOR(RAND() * 8) + 1),
(null, 77, FLOOR(RAND() * 8) + 1),
(null, 78, FLOOR(RAND() * 8) + 1),
(null, 79, FLOOR(RAND() * 8) + 1),
(null, 80, 9),
(null, 81, FLOOR(RAND() * 8) + 1),
(null, 82, FLOOR(RAND() * 8) + 1),
(null, 83, FLOOR(RAND() * 8) + 1),
(null, 84, FLOOR(RAND() * 8) + 1),
(null, 85, FLOOR(RAND() * 8) + 1),
(null, 86, FLOOR(RAND() * 8) + 1),
(null, 87, 9),
(null, 88, FLOOR(RAND() * 8) + 1),
(null, 89, FLOOR(RAND() * 8) + 1),
(null, 90, FLOOR(RAND() * 8) + 1),
(null, 91, FLOOR(RAND() * 8) + 1),
(null, 92, FLOOR(RAND() * 8) + 1),
(null, 93, FLOOR(RAND() * 8) + 1),
(null, 94, 9),
(null, 95, FLOOR(RAND() * 8) + 1),
(null, 96, FLOOR(RAND() * 8) + 1),
(null, 97, FLOOR(RAND() * 8) + 1),
(null, 98, 9),
(null, 99, 9),
(null, 100, FLOOR(RAND() * 8) + 1),
(null, 101, 9),
(null, 102, FLOOR(RAND() * 8) + 1),
(null, 103, 9),
(null, 104, FLOOR(RAND() * 8) + 1),
(null, 105, 9),
(null, 106, FLOOR(RAND() * 8) + 1),
(null, 107, FLOOR(RAND() * 8) + 1),
(null, 108, FLOOR(RAND() * 8) + 1),
(null, 109, FLOOR(RAND() * 8) + 1),
(null, 110, FLOOR(RAND() * 8) + 1),
(null, 111, FLOOR(RAND() * 8) + 1),
(null, 112, 9),
(null, 113, FLOOR(RAND() * 8) + 1),
(null, 114, FLOOR(RAND() * 8) + 1),
(null, 115, FLOOR(RAND() * 8) + 1),
(null, 116, FLOOR(RAND() * 8) + 1),
(null, 117, FLOOR(RAND() * 8) + 1),
(null, 118, 9),
(null, 119, FLOOR(RAND() * 8) + 1),
(null, 120, 9),
(null, 121, FLOOR(RAND() * 8) + 1),
(null, 122, FLOOR(RAND() * 8) + 1),
(null, 123, 9),
(null, 124, FLOOR(RAND() * 8) + 1),
(null, 125, FLOOR(RAND() * 8) + 1),
(null, 126, FLOOR(RAND() * 8) + 1),
(null, 127, FLOOR(RAND() * 8) + 1),
(null, 128, FLOOR(RAND() * 8) + 1),
(null, 129, 9),
(null, 130, FLOOR(RAND() * 8) + 1),
(null, 131, FLOOR(RAND() * 8) + 1),
(null, 132, FLOOR(RAND() * 8) + 1),
(null, 133, FLOOR(RAND() * 8) + 1),
(null, 134, FLOOR(RAND() * 8) + 1),
(null, 135, FLOOR(RAND() * 8) + 1),
(null, 136, FLOOR(RAND() * 8) + 1),
(null, 137, FLOOR(RAND() * 8) + 1),
(null, 138, 9),
(null, 139, FLOOR(RAND() * 8) + 1),
(null, 140, FLOOR(RAND() * 8) + 1),
(null, 141, FLOOR(RAND() * 8) + 1),
(null, 142, FLOOR(RAND() * 8) + 1),
(null, 143, FLOOR(RAND() * 8) + 1),
(null, 144, FLOOR(RAND() * 8) + 1),
(null, 145, FLOOR(RAND() * 8) + 1),
(null, 146, FLOOR(RAND() * 8) + 1),
(null, 147, 9),
(null, 148, FLOOR(RAND() * 8) + 1),
(null, 149, 9),
(null, 150, 9),
(null, 151, FLOOR(RAND() * 8) + 1),
(null, 152, FLOOR(RAND() * 8) + 1),
(null, 153, FLOOR(RAND() * 8) + 1),
(null, 154, 9),
(null, 155, FLOOR(RAND() * 8) + 1),
(null, 156, FLOOR(RAND() * 8) + 1),
(null, 157, FLOOR(RAND() * 8) + 1),
(null, 158, FLOOR(RAND() * 8) + 1),
(null, 159, FLOOR(RAND() * 8) + 1),
(null, 160, FLOOR(RAND() * 8) + 1),
(null, 161, FLOOR(RAND() * 8) + 1),
(null, 162, FLOOR(RAND() * 8) + 1),
(null, 163, FLOOR(RAND() * 8) + 1),
(null, 164, FLOOR(RAND() * 8) + 1),
(null, 165, 9),
(null, 166, FLOOR(RAND() * 8) + 1),
(null, 167, FLOOR(RAND() * 8) + 1),
(null, 168, FLOOR(RAND() * 8) + 1),
(null, 169, FLOOR(RAND() * 8) + 1),
(null, 170, 9),
(null, 171, FLOOR(RAND() * 8) + 1),
(null, 172, FLOOR(RAND() * 8) + 1),
(null, 173, 9),
(null, 174, FLOOR(RAND() * 8) + 1),
(null, 175, FLOOR(RAND() * 8) + 1),
(null, 176, FLOOR(RAND() * 8) + 1),
(null, 177, FLOOR(RAND() * 8) + 1),
(null, 178, FLOOR(RAND() * 8) + 1),
(null, 179, FLOOR(RAND() * 8) + 1),
(null, 180, FLOOR(RAND() * 8) + 1),
(null, 181, FLOOR(RAND() * 8) + 1),
(null, 182, FLOOR(RAND() * 8) + 1),
(null, 183, FLOOR(RAND() * 8) + 1),
(null, 184, FLOOR(RAND() * 8) + 1),
(null, 185, FLOOR(RAND() * 8) + 1),
(null, 186, FLOOR(RAND() * 8) + 1),
(null, 187, 9),
(null, 188, FLOOR(RAND() * 8) + 1),
(null, 189, FLOOR(RAND() * 8) + 1),
(null, 190, FLOOR(RAND() * 8) + 1),
(null, 191, FLOOR(RAND() * 8) + 1),
(null, 192, 9),
(null, 193, FLOOR(RAND() * 8) + 1),
(null, 194, FLOOR(RAND() * 8) + 1),
(null, 195, FLOOR(RAND() * 8) + 1),
(null, 196, FLOOR(RAND() * 8) + 1),
(null, 197, FLOOR(RAND() * 8) + 1),
(null, 198, FLOOR(RAND() * 8) + 1),
(null, 199, FLOOR(RAND() * 8) + 1),
(null, 200, FLOOR(RAND() * 8) + 1)
"""
cursor.execute(insert_query)
conn.commit()