In [14]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\alexandre\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\alexandre\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import mysql.connector
from random import choice, randint

In [16]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '741852',
    'database': 'projeto_embraer'
    }

In [17]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS nps (
        nps_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        nps_pontuacao INT NOT NULL,
        nps_data DATE NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [18]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS cliente (
        cliente_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        cliente_nome VARCHAR(100) NOT NULL,
        cliente_estado VARCHAR(50) NOT NULL,
        cliente_email VARCHAR(100) NOT NULL,
        nps_id INT NOT NULL,
        FOREIGN KEY (nps_id) REFERENCES nps (nps_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [19]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS tempo_entrega (
        tempo_entrega_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        tempo_entrega INT NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [20]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS satisfacao_cliente (
        satisfacao_cliente_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        satisfacao_cliente_avaliacao VARCHAR(30) NOT NULL,
        satisfacao_cliente_data DATE NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [22]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS pedido (
        pedido_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        pedido_data DATE NOT NULL,
        cliente_id INT NOT NULL,
        satisfacao_cliente_id INT NOT NULL,
        tempo_entrega_id INT NOT NULL,
        FOREIGN KEY (cliente_id) REFERENCES cliente (cliente_id),
        FOREIGN KEY (satisfacao_cliente_id) REFERENCES satisfacao_cliente (satisfacao_cliente_id),
        FOREIGN KEY (tempo_entrega_id) REFERENCES tempo_entrega (tempo_entrega_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [40]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS produto (
        produto_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        produto VARCHAR(100) NOT NULL,
        tipo_carga VARCHAR(50) NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [39]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS pedido_produto(
        pedido_produto_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        pedido_id INT NOT NULL,
        produto_id INT NOT NULL,
        FOREIGN KEY (pedido_id) REFERENCES pedido (pedido_id),
        FOREIGN KEY (produto_id) REFERENCES produto (produto_id)
    );
"""

cursor.execute(create_table_query)
conn.commit()